
:root{
  --background-color: #fff;
  --background-light: #fff;
  --shadow-color: rgba(0,0,0,0.2);
  --primary-color:rgb(255,0,86);
  --text-color: #0A0A0A;
  --text-light: #575757;
  --font-size: 16px;
  --animation-speed: 1s;
  --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: var(--font-size);
  font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none;
}

img{
  object-fit: cover;
}

.btn{
  border: none;
  outline: none;
  background-color: var(--primary-color);
  color: #fff;
  padding: .75em 1em;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  letter-spacing:1px;
  border: 3px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: 0.3s ease-in;
  &:hover{
    background-color: var(--background-color);
    color: var(--text-light);
  }
}
.custom-image{
  height: 0;
  width: 100%;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@import "partials/navbar";
@import "partials/heroSection";


.improve-skills{
  .col.img{
    img{
      width: 100%;
    }
    .col.typography{
      padding-left: 1em;
      .skill-item{
        border-left: 0.5em solid var(--primary-color);
      }
    }
  }
}

.main{
  padding-block: 3vw;
}

.container{
  padding-inline: 15vw;
  
}

@import "partials/animations";

@media screen and (max-width: 768px) {
  .navbar{
    .nav-links{
      display: none;
    }
    .sidebar-btn{
      display: block;
    }
  }
}